.el-header, .el-footer {
    background-color: #3891fe;
    color: #FFF;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #FFF;
    /*color: #333;*/
    text-align: center;
    /*width: 50%;*/
}
.con{
    display: inline-block;
    text-align: center;
    width: 50%;
}
body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}
.deleteLine{
    text-decoration:line-through
}